@model string
@using ZenithWebSite.Models.ApplicationRoleModel

<form asp-action="DeleteAssignedRole" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Remove Role" })

    <div class="modal-body form-horizontal">
        Are you sure you want to Remove ?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete" })
</form>
